.hello {
  display: grid;
  grid-template-columns: 1fr;
  align-content: space-around;
  justify-content: center;
  font-family: 'Nunito', sans-serif;

  &__img {
    display: inline-block;
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    margin: 3rem auto;
    border: 1.6rem solid $color-blue-lightest;
    position: relative;

    @media (min-width: 750px) {
      width: 21rem;
      height: 21rem;
      margin: 7rem auto;
    }
  }

  &__greeting {
    display: none;

    @media (min-width: 750px) {
      display: block;
      background-color: $color-blue;
      border-radius: 1.6rem;
      padding: 1.6rem 1.9rem;
      font-size: 3.2rem;
      font-weight: bold;
      color: $color-white;
      position: absolute;
      top: 4rem;
      left: calc(50% + 89px);

      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        width: 2rem;
        height: 2rem;
        bottom: -1.8rem;
        left: 2rem;
        background: url('../assets/img/Speech_cloud.svg');
      }
    }
  }

  &__text-block {
    @media (min-width: 950px) {
      width: 77rem;
      height: 30rem;
      margin: 0 auto;
      position: relative;
      margin-bottom: 12rem;

      &::before,
      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 10rem;
        height: 100%;
        top: -3rem;
      }

      &::before {
        background: url('../assets/img/bracket-left.svg');
        background-size: contain;
        left: -7rem;
      }
      &::after {
        background: url('../assets/img/bracket-right.svg');
        background-size: contain;
        right: -7rem;
      }
    }
  }

  &__description {
    font-size: 2.6rem;
    margin: 0 1.6rem;
    text-align: center;
    color: $color-text-dark;

    &--blue {
      color: $color-blue;
    }
  }

  &__message {
    @include message;

    &--link {
      font-weight: bold;
      text-decoration: none;
      color: $color-text-link;
    }
  }
}
