.hello {
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
  align-content: space-around;
  justify-content: center;
  font-family: 'Nunito', sans-serif;

  &__img {
    display: inline-block;
    width: 9.6rem;
    height: 9.6rem;
    border-radius: 50%;
    margin: 0 auto;
    border: 1.6rem solid $color-blue-lightest;
  }

  &__greeting {
    display: none;
  }

  &__description {
    font-size: 2.6rem;
    margin: 0 1.6rem;
    text-align: center;
    color: $color-text-dark;

    &--blue {
      color: $color-blue;
    }
  }

  &__message {
    @include message;

    &--link {
      font-weight: bold;
      text-decoration: none;
      color: $color-text-link;
    }
  }
}
