.projects {
  font-family: 'Nunito', sans-serif;
  display: grid;
  grid-auto-rows: auto;

  &__message {
    @include message;
    margin-bottom: 3.4rem;
  }

  &__cards {
    display: grid;
    gap: 2.4rem 0;
    margin: 2.4rem 0;

    @media (min-width: 950px) {
      grid-template-columns: repeat(auto-fit, minmax(54.8rem, 1fr));
      justify-content: center;
      margin: 2.4rem 9rem;
    }
  }
}
