@mixin message {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 3.2rem;
  color: $color-text-default;
  margin: 1.6rem;
  text-align: center;
}

@mixin font-size($size) {
  font-size: $size + rem;
}

@keyframes greet {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.animate {
  display: inline-block;
  animation: greet 2s linear infinite;
}

.mailme-btn {
  background-color: $color-text-link;
  color: $color-white;
  width: 27.8rem;
  height: 4.8rem;
  border-radius: 6.4rem;
  cursor: pointer;
  margin: 4.8rem auto;
  padding: 0.4rem 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  transition: box-shadow 0.2s linear;

  @media (min-width: 950px) {
    box-shadow: $bs-normal;

    &:hover {
      box-shadow: $bs-hover;
    }
    &:active {
      box-shadow: none;
    }
  }

  &--header {
    @media (min-width: 950px) {
      margin-bottom: 0;
      transform: translateY(100%);
    }
  }

  &--footer {
    @media (min-width: 950px) {
      margin: 0;
    }
  }
}

.heading-secondary {
  display: block;
  font-family: 'Nunito', sans-serif;
  font-size: 3.6rem;
  font-weight: bold;
  text-align: center;
  padding: 6.4rem 1.6rem;
  margin: 0;

  &--white {
    color: $color-white;
  }

  &--dark {
    color: $color-text-dark;
    padding-bottom: 3.2rem;
  }
}
