$color-white: #fff;
$color-blue-lightest: #f6f9fd;
$color-blue-light: #dbeaf7;
$color-blue: #1070ca;
$color-green: #06c847;
$color-black: #000000;
$color-console-link: #14b5d0;
$color-console-grey: #a3a3a3;
$color-console-gray4: #808082;
$color-console-gray3: #464a4d;
$color-console-gray2: #212528;
$color-console-gray1: #1e1e1e;
$color-text-link: #4da8ff;
$color-text-muted: #66788a;
$color-text-default: #425a70;
$color-text-dark: #234361;
$dot-hover-red: #e23838;
$dot-hover-yellow: #ffb900;
$dot-hover-green: #5ebd3e;

$bs-normal: 0px 4px 16px rgba(0, 0, 0, 0.25);
$bs-hover: 0px 2px 8px rgba(0, 0, 0, 0.25);
$bs-tiny: 0px 1px 4px rgba(0, 0, 0, 0.25);
$bs-large: 0px 8px 34px rgba(0, 0, 0, 0.45);
