@import '~normalize.css';
@import '_variables';
@import '_mixins';
@import 'modules/hello.scss';
@import 'modules/skills.scss';
@import 'modules/projects.scss';
@import 'modules/contact.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-family: 'Roboto Mono', monospace;
}

html {
  font-size: 62.5%;
}

.mailme-btn {
  background-color: $color-text-link;
  color: $color-white;
  width: 27.8rem;
  height: 4.8rem;
  border-radius: 6.4rem;
  cursor: pointer;
  margin: 4.8rem auto 8.8rem;
  padding: 0.4rem 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
}

.heading-secondary {
  display: block;
  font-family: 'Nunito', sans-serif;
  font-size: 3.6rem;
  font-weight: bold;
  text-align: center;
  padding: 6.4rem 1.6rem;
  margin: 0;

  &--white {
    color: $color-white;
  }

  &--dark {
    color: $color-text-dark;
    padding-bottom: 3.2rem;
  }
}
