@import '~normalize.css';
@import '_variables';
@import '_utilities';
@import 'modules/hello.scss';
@import 'modules/skills.scss';
@import 'modules/projects.scss';
@import 'modules/contact.scss';
@import 'modules/github.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-family: 'Roboto Mono', monospace;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
